@font-face {
    font-family: 'FortniteFont';
    src: url('fortnite.otf');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html,
body {

    font-family: FortniteFont;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    font-size: 1.15rem;
    /* knippende cursor */
}

/* Landingspagina */

/* .landingspagina-header {
    background-color: #1E1E1E;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
} */

.landingspagina-header h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.landingspagina-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landingspagina-main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem;
    padding: 0;
    /* list-style: none; */
}

.landingspagina-main ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 10px;
    color: white;
    font-size: 1.8rem;
    transition: background-color 0.3s ease;

}

.landingspagina-main ul li:hover {
    background-color: #333333;
}

.landingspagina-main ul li a img {
    height: 350px;
    width: 580px;
}

.login__button {
    display: none;
    position: absolute;
    background-color: #1E1E1E;
    border: none;
    border-radius: 1.5rem;
    padding: 20px;
}

.landingspagina-main ul li:hover .login__button {
    display: flex;
    background-color: yellow;
    border-color: yellow;
}


.login_button {
    margin: 1rem 0;
    display: none;
    position: absolute;
    background-color: #1E1E1E;
    border: none;
    border-radius: 1.5rem;
    padding: 20px;
}

.landingspagina-main ul li:hover .login_button {
    display: flex;
    background-color: yellow;
    border-color: yellow;
}


.landingspagina-main ul li a {
    font-family: FortniteFont;
    font-size: 25px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.name-onderwerpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}



header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #18181C;
    padding: 2rem 0;
}




header nav a:hover {
    color: yellow;
    transition: 0.5s;
}

.navbarpart1 {
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
}

.navbarpart1 a {
    text-decoration: none;
    margin: 0 2rem;
    color: white;
}

.bigname {
    font-size: 3rem;
}


.navbarpart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;

}

.navbarpart2 a {
    margin: 0 1rem;

}

.profile-picture img {
    width: 2rem;
    height: auto;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 100%;

}

.dropdown-content a {
    color: black;
    padding: 1rem 2rem 1rem 1rem;
    margin: 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #18181C;
    background-color: #dfdfdf;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
    top: 100%;
    transform: translateX(calc(100% - 160px));
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



h1,
.bio {
    text-align: center;
    margin: 2.5rem 0;
}

.frontpageh1 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 75vh;
    box-sizing: border-box;
    background-position: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0)), url('../images/fortnite.jpg');

}

.frontpageh1 h1 {

    margin: 0;
    padding-left: 5rem;
    font-size: 9rem;

}

.frontpageh1 h2 {

    margin: 0;
    padding-left: 5rem;
    font-size: 2rem;

}

.frontpageh1 button {
    background-color: yellow;
    color: black;
    font-family: FortniteFont;
    font-size: larger;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-left: 11rem;
    padding: 15px 30px;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.frontpageh1 button:hover,
#deel2 button:hover,
.comment-form button:hover {
    border: 1.5px solid white;
}

.skins-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

}

.skins-list li {
    flex-basis: 25%;
    padding: 1rem;
}

.skin-container {
    position: relative;
    width: 20rem;
    height: auto;
    perspective: 60rem;
    margin: 2rem;
}

.skins-list a {
    position: relative;
    width: 20rem;
    height: auto;
    perspective: 60rem;
    margin: 2rem;
}

.skin-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.skin-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

.skin-details h3,
.skin-details p {
    margin: 0;
    padding: 0;
}

.skin-container.flipped .skin-details {
    transform: rotateY(0deg);
}

footer {
    text-align: center;
    margin: 1rem;
}

.set-profile-button,
.favorite-button,
.blacklist-button {
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.favorite-button {
    font-size: 1.5rem;
    cursor: pointer;

}

.set-profile-button {
    padding: 8px 15px;
}

.set-profile-button:hover {
    transform: scale(1.12);
}


.favorite-button:hover,
.blacklist-button:hover {
    transform: scale(1.23);
}

/* Favorite pagina */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem;
    list-style-type: none;


    box-sizing: border-box;
    background-position: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0)), url('../images/kevinbackgr.png');

}

/* Stijlen voor elk afzonderlijk deel */


#deel1 a {
    display: flex
}

.skin-avatar {
    width: 30rem;
    margin: 0;
    padding: 0;
}

#deel2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#deel2 h1 {
    font-size: 2.3rem;
}

.generate-items {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.generate-emote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.generate-weapon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#deel2 button,
.container button {
    background-color: yellow;
    color: black;
    font-family: FortniteFont;
    font-size: larger;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 15px 30px;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.generate-items img {
    width: 13rem;
    padding: 1rem 0;
}

.adjustscoreboard {
    display: flex;
    justify-content: space-around;
}

.scoreboard-counter {
    font-size: 5rem;
    margin: 1rem;
}

.scoreboard img {
    height: 3.3rem;
    width: auto;
}

.scoreboard img:hover {
    height: 3.5rem;
    width: auto;
    cursor: pointer;
}

#deel3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.25rem;
}

.avatardetails {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 5rem 0;
    align-items: center;
}

.avatardetails h2 {
    font-size: 7rem;
    padding: 0;
    margin: 1rem;
    text-align: center;

}


.avatardetails h3 span {
    text-transform: uppercase;
    color: #1B90DD
}

.avatardetails h3,
.avatardetails img {
    font-size: 1.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;

}

.comment-form {
    /* margin-top: 17rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.comment-form input,
.comment-form textarea {
    font-family: FortniteFont;
    font-weight: lighter;
    font-size: larger;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 2rem;

}


/* Login stijl */

/* .login_button {
    display: none;
    position: absolute;
    background-color: #1E1E1E;
    border: none;
    border-radius: 1.5rem;
    padding: 20px;
} */

/* .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
} */

/* .login-image img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
} */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #18181C;
    border-radius: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .login-form h1 {
    color: white;
    font-family: FortniteFont;
} */

.login-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-form input[type="submit"] {
    background-color: yellow;
    color: black;
    font-family: FortniteFont;
    font-size: larger;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.login-form input[type="submit"]:hover {
    border: 1.5px solid white;
}

.login-button {
    display: flex;
    background-color: yellow;
    color: black;
    font-family: FortniteFont;
    font-size: larger;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.login-button:hover {
    border: 1.5px solid white;
}


.label-username,
.label-password {
    margin-bottom: 10px;
    color: white;
}

/* .login-form button {
    padding: 10px;
    color: #1B90DD;
    border: none;
    border-radius: 10px;
    cursor: pointer;
} */

.login-form a {
    color: white;
    margin: 1rem;
    text-decoration: underline;
}



/* Register styling */

.registreer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
}

.registreer-image img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.registreer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25%;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #18181C;
    border-radius: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.registreer-form h1 {
    color: white;
    font-family: FortniteFont;
}

.registreer-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.registreer-form input[type="submit"] {
    background-color: yellow;
    color: black;
    font-family: FortniteFont;
    font-size: larger;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.registreer-form input[type="submit"]:hover {
    border: 1.5px solid white;
}

.registreer-form p {
    text-decoration: underline;
    padding: 0;
    margin-top: 3.5rem;
}

.label-username,
.label-password {
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
}


.registreer-button {
    margin: 1rem 0;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: yellow;
    font-family: FortniteFont;
    font-size: larger;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    width: 70%;
    /* Added width property */
}

.registreer-button:hover {
    border: 1.5px solid white;
}

.tochAanmelden {
    color: white;
    margin: 1rem;
    text-decoration: underline;
}