<footer class="footerkleur">
    <p class="footer-copy">&copy; AP Hogeschool <br><br> Belhaj Ouail, Benacher Ali en Soujaa Ali</p>
    <section>
        <h3>Over ons</h3>
        <p>Wij zijn de groep ZonkyTown, <br>dit is onze website van het spel Fortnite.</p>
    </section>
    <section class="footer-contact">
        <h3>Contacteer ons</h3>
        <p>Email: <a href="mailto:">info@zonkytown.com</a></p>
        <p>Phone: <a href="tel:+">+32 06 48 23 54</a></p>
    </section>
    
    <section class="footer-volgons">
        <h3>Volg ons</h3>
        <ul>
            <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
            <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
        </ul>
    </section>
</footer>
</body>
</html>
