<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZonkyTown's Blacklist</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul class="navbarpart1">
                <a href="/index" class="bigname">ZonkyTown</a>
                <a href="/" class="active">Landingspage</a>
                <a href="/index">Home</a>
                <a href="/favoritepagina">Favorieten</a>
                <a href="/blacklist">Blacklist</a>
            </ul>

            <ul class="navbarpart2">
                <section class="profile-picture">
                    <a href="#"><img src="/assets/icons/iconsearch.png" alt="search-picture"></a>

                    <section class="dropdown">
                        <button class="dropbtn"><img src="/assets/icons/questionpf.png" alt="profile-picture"></button>
                        <section class="dropdown-content">
                            <a href="./login.html">Login</a>
                            <a href="./registreer.html">Registreer</a>
                        </section>
                    </section>
                </section>
            </ul>

        </nav>
    </header>