<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZonkyTown</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <section id="smallsize">
            <article>
                <input type="checkbox" id="menuToggle">
                <label for="menuToggle" class="menu-icon">
                    <div></div>
                    <div></div>
                    <div></div>
                </label>
                <nav>
                    <ul >
                        <li><a href="/index">Home</a></li>
                        <li><a href="/favoritepagina">Favorieten</a></li>
                        <li><a href="/blacklist">Blacklist</a></li>
                    </ul>
                </nav>
                
            </article>
            <article class="navbarpart1">
                <a href="/index" class="bigname">Fortnite</a>
            </article>
            <article>
                <ul class="navbarpart2">
                    <section class="profile-picture">
                        <section class="dropdown">
                            <button class="dropbtn">
                                <img src="<%= profile.profileImage %>" alt="profile-picture" width="80">
                            </button>
                            <form action="/logout" method="post" class="dropdown-content">
                                <a href="/login" type="submit">Log uit</a>
                            </form>
                        </section>
                    </section>
                </ul>
            </article>
        </section>
        <nav id="bigsize">
            <ul class="navbarpart1">
                <a href="/index" class="bigname">Fortnite</a>
                <a href="/index" class="smallname">Home</a>
                <a href="/favoritepagina" class="smallname">Favorieten</a>
                <a href="/blacklist" class="smallname">Blacklist</a>
            </ul>
            <ul class="navbarpart2">
                <section class="profile-picture">
                    <section class="dropdown">
                        <button class="dropbtn">
                            <img src="<%= profile.profileImage %>" alt="profile-picture" width="80">
                        </button>
                        <form action="/logout" method="post" class="dropdown-content">
                            <a href="/login" type="submit">Log uit</a>
                        </form>
                    </section>
                </section>
            </ul>
        </nav>
    </header>