<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZonkyTown</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul class="navbarpart1">
                <a href="/index" class="bigname">Fortnite</a>
                <a href="/index">Home</a>
                <a href="/favoritepagina">Favorieten</a>
                <a href="/blacklist">Blacklist</a>
            </ul>
            <ul class="navbarpart2">
                <section class="profile-picture">
                    <section class="dropdown">
                        <button class="dropbtn">
                            <img src="<%= profile.profileImage %>" alt="profile-picture" width="80">
                        </button>
                        <section class="dropdown-content">
                            <a href="/login">Loguit</a>
                        </section>
                    </section>
                </section>
            </ul>
        </nav>
    </header>