<section class="searchoptions">

    <input type="text" id="quicksearch" class="quicksearch" placeholder="Zoeken...">

    <section class="sortandfilter">
        <select class="sortoption" name="rarity" id="rarityFilter" placeholder="Filter">
            <option value="">Filter</option>
            <option value="uncommon">Uncommon</option>
            <option value="rare">Rare</option>
            <option value="epic">Epic</option>
            <option value="legendary">Legendary</option>
            <option value="gaminglegends">Gaming Legends</option>
            <option value="dark">Dark</option>
            <option value="icon">Icon</option>
            <option value="frozen">Frozen</option>
            <option value="dc">DC</option>
            <option value="lava">Lava</option>
            <option value="marvel">Marvel</option>
            <option value="shadow">Shadow</option>
            <option value="slurp">Slurp</option>
            <option value="starwars">Starwars</option>
        </select>

        <select class="sortoption" id="sortBy" placeholder="Sort">
            <option value="">Sort</option>
            <option value="name">Naam</option>
            <option value="date">Datum (Nieuwste eerst)</option>
            <option value="rarity">Zeldzaamheid</option>
        </select>
    </section>
</section>