@font-face {
    font-family: 'FortniteFont';
    src: url('../assets/fonts/fortnite.otf');
}

@font-face {
    font-family: 'FortniteMedium';
    src: url('../assets/fonts/fortnitemedium.ttf');
}

html,
body {
    font-family: FortniteFont;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2f3136;
    color: white;
    letter-spacing: 1px;
    font-size: 1.15rem;
}


/* Landingspagina */

/* .landingspagina-header {
    background-color: #1E1E1E;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
} */

.landingspagina-header h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.landingspagina-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landingspagina-main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem;
    padding: 0;
    /* list-style: none; */
}

.landingspagina-main ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 10px;
    background-color: #18181C;
    border-radius: 10px;
    color: white;
    font-size: 1.8rem;
    transition: 0.5s ease;

    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);

}

.landingspagina-main ul li:hover {
    background-color: white;
    transform: scale(1.02);
    color: #2f3136;

}

.landingspagina-main ul li a img {
    height: 350px;
    width: 580px;
}

.login__button {
    display: none;
    position: absolute;
    background-color: #1E1E1E;
    border: none;
    border-radius: 1.5rem;
    padding: 20px;

}

.landingspagina-main ul li:hover .login__button {
    display: flex;
    background-color: yellow;
    border-color: yellow;
}


.login_button {
    margin: 1rem 0;
    display: none;
    position: absolute;
    background-color: #1E1E1E;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

button a {
    padding: 20px;
}

.landingspagina-main ul li:hover .login_button {
    display: flex;
    background-color: yellow;
    border-color: yellow;
}


.landingspagina-main ul li a {
    font-family: FortniteFont;
    font-size: 25px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.name-onderwerpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}



header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #18181C;
    padding: 2rem 0;
}




header nav a:hover {
    color: yellow;
    transition: 0.5s;
}

.navbarpart1 {
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
}

.navbarpart1 a {
    text-decoration: none;
    margin: 0 2rem;
    color: white;
}

.bigname {
    font-size: 3rem;
}


.navbarpart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;

}

.navbarpart2 a {
    margin: 0 1rem;

}

.navlandingspagina {
    display: flex;
    justify-content: center;
}

.navlandingspagina a {
    text-decoration: none;
    margin: 0 2rem;
    color: white;
}

.bignamelandingspagina {
    font-size: 3.7rem;
}


.profile-picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile-picture img {
    margin-left: 1rem;
    height: auto;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18181C;
    border-bottom: 1px solid #2f3136;
}

.search-container img {
    width: 1.5rem;
    height: auto;
}

input#search-bar {
    font-family: FortniteFont;
    margin: 0 auto;
    height: 2.5rem;
    width: 6rem;
    padding: 0 20px;
    font-size: 1rem;
    outline: none;
    background-color: #18181C;
    color: white;
    border: none;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 100%;

}

.dropdown-content a {
    color: black;
    padding: 1rem 2rem 1rem 1rem;
    margin: 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #18181C;
    background-color: #dfdfdf;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
    top: 100%;
    transform: translateX(calc(100% - 160px));
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



h1,
.bio {
    text-align: center;
    margin: 2.5rem 0;
}

.bio {
    text-shadow: 5px 5px 15px black;
}

.frontpageh1 {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: black;
    height: 75vh;
    box-sizing: border-box;
    background-position: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0)), url('../assets/images/fortnite.jpg');
}

.frontpageh1 h1 {

    margin: 0;
    padding-left: 5rem;
    font-size: 9rem;

}

.frontpageh1 h2 {

    margin: 0;
    padding-left: 5rem;
    font-size: 2rem;

}

.frontpageh1 button {
    background-color: yellow;
    color: black;
    font-family: FortniteFont;
    font-size: larger;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-left: 11rem;
    padding: 15px 30px;
    border: none;

    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.frontpageh1 button:hover {
    border: 1.5px solid white;
}

.skins-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

}

.skins-list li {
    flex-basis: 25%;
    padding: 1rem;
}

.skin-container {
    position: relative;
    width: 20rem;
    height: auto;
    perspective: 60rem;
    margin: 2rem;
}

.skins-list a {
    position: relative;
    width: 20rem;
    height: auto;
    perspective: 60rem;
    margin: 2rem;
}

.skin-container img {
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    cursor: pointer;
}

.skin-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

.skin-details h3,
.skin-details p {
    margin: 0;
    padding: 0;
}

.skin-container.flipped .skin-details {
    transform: rotateY(0deg);
}


footer {
    font-family: FortniteMedium;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    text-align: center;
}

.footerkleur {
    background-color: #18181C;
}

footer h3 {
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: yellow;
}


.set-profile-button,
.favorite-button,
.blacklist-button,
.set-blacklist-reason,
.removeblacklist-button {
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.favorite-button {
    font-size: 1.5rem;
    cursor: pointer;

}

.set-profile-button,
.set-blacklist-reason {
    padding: 8px 15px;
}

.set-profile-button:hover,
.set-blacklist-reason:hover {
    transform: scale(1.12);
}


.favorite-button:hover,
.blacklist-button:hover,
.removeblacklist-button:hover {
    transform: scale(1.23);
}

/* detail pagina */

.container {
    align-items: flex-start;
    display: flex;
    padding: 2rem;
    box-sizing: border-box;
    background-position: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0)), url('../assets/images/kevinbackgr.png');
    max-width: 100%;
}

/* index */

.searchoptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 5.7rem;

}

.quicksearch,
select {

    font-family: FortniteFont;
    color: gray;
    text-transform: uppercase;
    font-size: 20px;
    padding: 1rem;
    height: 2rem;
    border-radius: 0.5rem;
}

select {
    height: 3.5rem;
    padding: 1rem;
    margin: 0;
}

.sortandfilter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.characters-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
    padding: 2rem;
}

.characters-list a {
    text-decoration: none;
    color: white;
}

.cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-item {
    margin: 30px auto;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s ease;
}

.card-item .card_photo {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card-item .card_photo img {
    width: inherit;
    height: inherit;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.card-item .card_name {
    text-align: center;
    font-size: 25px;
    margin-top: -15px;
    height: 40px;
}

.card-item:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    background-color: white;
    color: #2f3136;
}

.cross,
.edit {
    display: none;
}

.card-item:hover .cross,
.card-item:hover .edit {
    display: inline-block;
    font-size: 1.6rem;
    cursor: pointer;
    background: none;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0;
    transition: 0.3s ease-in-out;
}
.card-item:hover .star {
    margin-top: 0;
}


/* detailpagina index */



.descriptiondetail .name{
    font-size: 5rem;
    margin: 5rem 0 2.5rem 0;
    text-transform: uppercase;
}

.outfitrarity{
    font-size: 2.3rem;
    background-size: 100% 100%;
    margin: 0rem;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.container .outfitrarity{
    margin-top: 2rem;
}

.descriptiondetail .descriptionofskin{
    margin-bottom: 0;
    font-family: FortniteMedium;
    font-style: italic;
}

.descriptiondetail .introducedin{
    margin-top: 0;
    font-family: FortniteMedium;
    font-style: italic;
}

.descriptiondetail .variants{
    font-family: FortniteMedium;
}

.variants img{
    border-radius: 1rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    transition: 0.3s ease-in-out;
    margin: 0.5rem;
}



/* blacklist */

.card-item .card_blphoto {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card-item .card_blphoto img {
    width: inherit;
    height: inherit;
    /* border-radius: 1rem 1rem 0 0; */
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card-item .reason {
    text-align: center;
}


.card_name .cross {
    margin-right: 1rem;
    padding: 1rem;
}




/*favoriet*/

.cards-list a {
    text-decoration: none;
    color: white;
}

/* Stijlen voor elk afzonderlijk deel */
.container article {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.container article:nth-of-type(2){
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.container p {
    font-size: 150%;
}

.rarity {
    width: 70%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    transition: 0.3s ease-in-out;
}


.container article:nth-child(3) img {
    width: 20%;
}
.variants img:hover,
.rarity:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}

.row {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin: 3rem;
}

.row div {
    width: 50%;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    font-size: 200%;
    border-bottom: 1px solid yellow;
}

.score:nth-child(1) {
    border-right: 5px solid yellow;
}

.scoreboard {
    margin-bottom: 5rem;
}

.comment-form {
    /* margin-top: 17rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.comment-form input,
.comment-form textarea {
    font-family: FortniteFont;
    font-weight: lighter;
    font-size: larger;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 2rem;

}


.picturecolor {
    font-size: 3rem;
    background-size: 100% 100%;
    margin: 1rem;
    background-clip: text;
    color: transparent;
}

.description {
    font-family: FortniteMedium;
    font-style: italic;
    margin: 0 0 2rem 0;
}


.description h3 {
    margin: 1rem
}

/* CSS */
.button-48 {
    appearance: none;
    background-color: rgb(220, 220, 0);
    border-width: 0;
    font-size: 120%;
    font-weight: bolder;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin-top: 1rem;
    opacity: 1;
    outline: 0;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
    text-rendering: geometricprecision;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 2rem;
    font-family: 'FortniteFont';

}

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: yellow;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
    border-radius: 2rem;

}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    border-radius: 2rem;
}

.button-48:after {
    background-color: yellow;
}

.button-48 span {
    z-index: 1;
    position: relative;
}

/*cards*/

.characters {
    width: 100%;  
    flex-wrap: wrap;
    gap: 1rem;
}
.cardCharacter {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 var(--colorRed);
    transition: 0.3s;
    width: 61%;
    padding-bottom: 2rem;
    
}

.cardCharacter:hover {
    box-shadow: 0 8px 16px 0 var(--colorRed);
}
.head {
    width: 100%;
}
.containerCard {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0)), url('../assets/images/kevinbackgr.png');
    max-width: 100%;
}

.containerCard article:nth-child(3) img {
    border-radius: 1rem;
    width: 20%;
}

.containerCard article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.containerCard p {
    font-size: 150%;
}

.botharticles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Login stijl */



.login-section {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    margin: 3rem 0;
    padding: 50px 0;;
    background-color: #18181C;
    border-radius: 1rem;

}

.login-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-form input[type="submit"] {
    background-color: yellow;
    color: black;
    font-family: FortniteFont;
    font-size: larger;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.login-form input[type="submit"]:hover {
    border: 1.5px solid white;
}

.login-button {
    display: flex;
    background-color: yellow;
    color: black;
    font-family: FortniteFont;
    font-size: larger;
    border-radius: 1.5rem;
    margin: 1rem 0;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.login-button:hover {
    border: 1.5px solid white;
}


.label-username,
.label-password {
    font-family: FortniteMedium;
    margin-bottom: 10px;
    color: white;
}



/* .login-form button {
    padding: 10px;
    color: #1B90DD;
    border: none;
    border-radius: 10px;
    cursor: pointer;
} */

.login-form a {
    color: white;
    margin: 1rem;
    text-decoration: underline;
}



/* Register styling */

.registreer-section {
    display: flex;
    justify-content: center;
    margin: 2rem;
}


.registreer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    margin: 3rem 0;
    padding: 50px 0;
    background-color: #18181C;
    border-radius: 1rem;

}

.registreer-form h1 {
    color: white;
    font-family: FortniteFont;
}

.registreer-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.registreer-form input[type="submit"] {
    background-color: yellow;
    color: black;
    font-family: FortniteFont;
    font-size: larger;
    border-radius: 1.5rem;
    margin-top: 1rem;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.registreer-form input[type="submit"]:hover {
    border: 1.5px solid white;
}

.error-message {
    font-family: FortniteMedium;
    color: red;
    text-decoration: underline;
    padding: 0;
    /* margin-top: 3rem; */
    text-align: center;
}

.label-username,
.label-password {
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
}


.registreer-button {
    margin: 1rem 0;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: yellow;
    font-family: FortniteFont;
    font-size: larger;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    width: 70%;

}

.registreer-button:hover {
    border: 1.5px solid white;
}

.tochAanmelden {
    color: white;
    margin: 1rem;
    text-decoration: underline;
}




/* Mediaqueries */

@media screen and (max-width: 1700px) {
    .container {
        grid-template-columns: 1fr;
    }

    #deel1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .registreer-button .login-section{
        width: 50%;
    }

}

@media screen and (max-width: 1200px) {


    .navbarpart1 {
        flex-direction: column;
    }


    .frontpageh1 {
        height: 45vh;
    }

    .frontpageh1 h1 {
        font-size: 5rem;
    }

    .frontpageh1 h2 {
        font-size: 2rem;
    }

    .frontpageh1 button {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-left: 5rem;
    }

    .bio {
        font-size: 2rem;
        margin: 2rem 1rem;
    }

    .sortandfilter {
        align-items: normal;
        flex-direction: column;
    }


}

@media screen and (max-width: 1300px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .container article {
        width: 100%;
    }

    .containerCard{
        align-items: flex-start;
    }

    .botharticles{
        flex-direction: column;
        align-items: center;
    }

    .botharticles article {
        width: 100%;
    }
    .rarity{
        width: 60%;
    }
    

}

@media screen and (max-width: 750px) {


    .frontpageh1 {
        height: 35vh;
    }

    .frontpageh1 h1 {
        font-size: 3rem;
    }

    .frontpageh1 h2 {
        font-size: 1.5rem;
    }

    .frontpageh1 button {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-left: 5rem;
        padding: 10px 20px;
    }

    .bio {
        font-size: 1.5rem;
    }

    .avatardetails h2 {
        font-size: 5rem;
    }

}


@media screen and (max-width: 710px) {
    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbarpart1 {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .profile-picture {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
 
    .navbarpart2 {
        margin: 1rem;
        padding: 0;
    }

    .dropbtn {
       margin: 0 1.5rem 1.5rem 0;
    }

    .searchoptions {
        /* flex-direction: column; */
        margin: 0 3rem;
    }

    .quicksearch, select{
       font-size: 16px; 
       padding: 10px;
       height: 2.6rem;

    }
}

@media screen and (max-width: 550px) {

    .frontpageh1 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0)), url('../assets/images/fortnite.jpg');
    }

}


@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

@media screen and (max-width: 550px){
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}