<%- include('header.ejs') %>
    <script src="js/blacklistSkins.js" defer></script>
    <h1 class="bio">Geheimen onthuld: De verborgen wereld van geblackliste avatars!</h1>

    <section class="skins-list" id="skins-list"></section>
<%- include('footer.ejs') %>