<%- include('partials/header.ejs') %>
<script src="js/favoriteSkins.js"></script>
    <h1 class="bio">Verken je Fortnite-avatars: bekijk ze van dichterbij voordat je gaat vechten!</h1>

    <section class="skins-list" id="skins-list"></section>
    <%- include('partials/footer.ejs') %>