<%- include('partials/header.ejs') %>
<script src="js/alertPopUp.js"></script>
   <section class="landingspagina-main">
        <main>
            <ul class="onderwerpen">
                <li>
                    <a href="#" class="name-onderwerpen">
                        <img src="assets/images/fortniteL.jpg" alt="fortnite">
                    </a>
                    <button class="login_button"><a href="/login">Login</a></button>
                    <p>Fortnite</p>
                </li>

                <li>
                    <a href="#" class="name-onderwerpen">
                        <img src="assets/images/magic the gathering.jpg" alt="magic the gathering">
                    </a>
                    <button class="login_button"><a href="#">Login</a></button>
                    <p>Magic: The Gathering</p>
                </li>

                <li>
                    <a href="#" class="name-onderwerpen">
                        <img src="assets/images/lordoftherings.jpg" alt="lord of the rings">
                    </a>
                    <button class="login_button"><a href="#">Login</a></button>
                    <p>Lord Of The Rings</p>
                </li>

                <li>
                    <a href="#" class="name-onderwerpen">
                        <img src="assets/images/pokemon.jpg" alt="pokemon">
                    </a>
                    <button class="login_button"><a href="#">Login</a></button>
                    <p>Pokémon</p>
                </li>

                <li>
                    <a href="#" class="name-onderwerpen">
                        <img src="assets/images/lego.jpg" alt="lego">
                    </a>
                    <button class="login_button"><a href="#">Login</a></button>
                    <p>Lego</p>
                </li>

                <li>
                    <a href="#" class="name-onderwerpen">
                        <img src="assets/images/fifa.jpeg" alt="fifa">
                    </a>
                    <button class="login_button"><a href="#">Login</a></button>
                    <p>FIFA</p>
                </li>
            </ul>
        </main>
    </section>
    <%- include('partials/footer.ejs') %>