<%- include('partials/zonkytownheader.ejs') %>
    <section class="login-section">
        <form class="login-form">
            <img class="login-image" src="/assets/icons/questionpf.png" alt="not-logged-in">
            <h1 class="login-h1">Login</h1>
            <label class="label-username" for="username">Gebruikersnaam:</label>
            <input type="text" id="username" name="username" required>

            <label class="label-password" for="password">Wachtwoord:</label>
            <input type="password" id="password" name="password" required>

            <button class="login-button" type="submit">Aanmelden</button>
            <a href="">Wachtwoord vergeten?</a>
            <a href="/registreer">Nog geen account?</a>
        </form>
    </section>
 
    <%- include('partials/footer.ejs') %>