<%- include('partials/zonkytownheader.ejs') %>
    <section class="registreer-section">
        <form class="registreer-form" action="/registreer" method="POST">
            <img class="registreer-image" src="/assets/icons/questionpf.png" alt="niet-geregistreerd">
            <h1 class="registreer-h1">Registreer</h1>
            <label class="label-username" for="username">Gebruikersnaam:</label>
            <input type="text" id="username" name="name" required>

            <label class="label-password" for="password">Wachtwoord:</label>
            <input type="password" id="password" name="password" required>

            <label class="label-password" for="password">Bevestig wachtwoord:</label>
            <input type="password" id="password" name="confirmPassword" required>
            
            <% if (typeof message !== 'undefined') { %>
                <p class="error-message"><%= message %></p>
            <% } %>

            <button class="registreer-button" type="submit">Registreer</button>
            <a class="tochAanmelden" href="/login">Toch aanmelden?</a>
        </form>
    </section>
    <%- include('partials/footer.ejs') %>